:root {
  --primary: #488cff;
  --secondary: rgb(251, 208, 176);
  --background-primary: rgba(165, 165, 141);
  --background-secondary: rgba(107, 112, 92);
  font-size: 62.5%;
}
* {
  box-sizing: border-box;
}
body,
h2 {
  font-size: 2.4rem;
  font-weight: 300;
  background-color: var(--background-secondary);
  color: aliceblue;
}
h5 {
  color: black;
}

/* clase para ocultar */

.hide {
  display: none;
}
.modal {
  background-color: var(--background-primary);
}

.modal-body {
  color: black;
}

.modal-footer {
  display: inline-block;
}

#intro {
  display: flex;
  justify-content: space-between;
}

.prefix {
  text-align: center;
  font-size: 2rem;
}

#counter,
#score {
  text-align: center;
}

.question-holder {
  height: 15rem;
  display: flex;
  text-align: center;
  align-items: center;
}

.answer-container {
  display: flex;
  flex-direction: initial;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  background-color: var(--secondary);
  color: white;
  height: 8rem;
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 0.3rem;
}

.answer-prefix {
  padding: 3rem 4rem;
  margin: 0;
  background-color: #fff;
  color: black;
  height: 100%;
}

.answer-container:hover {
  cursor: pointer;
  box-shadow: 9px 7px 30px 11px rgba(203, 153, 126, 0.44);
  transform: translate(-0.2rem);
  transition: transform 150ms;
}

.answer-text {
  padding: 1.5rem;
  width: 100%;
  margin: 0;
  color: black;
}

.button {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.btn {
  width: 35%;
  height: 5rem;
  font-size: 1.5rem;
  background-color: rgb(168, 95, 47) !important;

  font-weight: 600;
}

.btn:hover {
  box-shadow: 9px 7px 30px 11px rgba(203, 153, 126, 0.44);
}

.correct {
  background-color: rgb(57, 174, 57);
}

.incorrect {
  background-color: rgb(227, 83, 83);
}
